.App {
  text-align: center;
  background-color: #dfe6e9;
  min-height: 100vh;
}

ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: space-around;
  justify-items: center;
  margin: 0;
  padding: 0;
}


li {
  text-transform: uppercase;
}

.buttonsContainer {
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 300px;
  height: 100px;

  align-items: center;
  justify-content:space-around;

}